* {
    background-color: white;
    font-family: Arial, sans-serif;
}

#logo {
    width: 210px;
    height: 80px;
}

h3 {
    margin: 0;
}

header {
    box-shadow: 5px 10px 5px gainsboro;
    border-radius: 10px;
    position: sticky;
    top: 0;
}

#header-nav {
    float: right;
    padding: 20px;
    margin-top: 10px;
    margin-right: 20px;
}

.nav-links:link {
    text-decoration: none;
    color: #00b300;
    padding: 15px;
}

.nav-links:visited {
    color: #00b300;
}

aside {
    margin-top: 15px;
    width: 20%;
    padding: 10px;
    float: left;
}

#sidebar-para {
    font-size: smaller;
    margin-top: 5px;
}

#sidebar-navlist {
    list-style-type: none;
    padding: 0;
}

.sidebar-navlinks {
    text-decoration: none;
    color: #00b300;
}

.sidebar-list-styling {
    padding-bottom: 10px;
}

article {
    margin-top: 25px;
    margin-left: 25%;
    margin-right: 50px;
}