* {
    font-family: Arial, sans-serif;
}

#logo {
    width: 220px;
    height: 80px;
}

h3 {
    margin: 0;
}

header {
    background-color: white;
    box-shadow: 5px 10px 5px gainsboro;
    border-radius: 10px;
    position: sticky;
    top: 0;
}

#header-nav {
    float: right;
    padding: 20px;
    margin-top: 10px;
    margin-right: 20px;
}

.nav-links:link {
    text-decoration: none;
    color: #00b300;
    padding: 15px;
}

.nav-links:visited {
    color: #00b300;
}

aside {
    background-color: white;
    margin-top: 15px;
    width: 20%;
    padding: 10px;
    float: left;
}

#sidebar-para {
    font-size: small;
    margin-top: 5px;
}

#sidebar-navlist {
    list-style-type: none;
    padding: 0;
}

.sidebar-navlinks {
    text-decoration: none;
    color: #00b300;
}

.sidebar-list-styling {
    padding-bottom: 10px;
}

article {
    background-color: white;
    margin-top: 25px;
    margin-left: 25%;
    margin-right: 50px;
}

section {
    background-color: white;
    box-shadow: 5px -10px 5px gainsboro;
    border-radius: 10px;
    position: sticky;
    bottom: 0;
}

#adsection-content-div {
    width: 25%;
    padding: 15px;
    float: left;
}

#adsection-para {
    font-size: smaller;
    margin-top: 5px;
    margin-left: 30px;
}

#adsection-navlist-div {
    text-align: right;
    width: 100px;
    padding: 20px;
    margin-left: 90%;
}

footer {
    background-color: #00b300;
    color: white;
}

#footer-para {
    margin: 0;
    margin-left: 45%;
}